<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body class="container">
  <div class="col-md-10 col-md-offset-3">
    <h1>Hello <%= name %></h1>
    <hr />
    <% if(!modify){ %>
    <p>This dashboard was developped in order to follow your water consumption per day</p>
    <p> So, how many glasses of water did you drink ??</p>
    <% } %>
    <% if(modify){ %>
    <p>Please proceed to all the changes you want below :</p>
    <% } %>
    <% if(!modify){ %>
    <form action="/metric" method="post">
      <div id="form">
        <div class="form-group">
          <label for="form_add_metric_quantity">Quantity of water (in glasses)</label>
          <input id="form_add_metric_quantity" min="0" size="2" type="number" name="quantity" required />
        </div>
        <div class="form-group">
          <label for="form_add_metric_date">Date</label>
          <input id="date" type="date" name="date" required/>
          <!--
          <input id="form_add_metric_dd" type="number" min="1" max="31" name="dd" placeholder="DD" required />
          <input id="form_add_metric_mm" type="number" min="1" max="12" name="mm" placeholder="MM" required />
          <input id="form_add_metric_yyyy" type="number" min="1970" max="2020" name="yyyy" placeholder="YYYY"
            required />
          -->
        </div>
        <button class="btn btn-success" type="submit" value="Add">Add the metric</button>
      </div>
    </form>
    <% } %>
    <% if(modify){ %>
    <form action="/metric/modify" method="post">
      <div id="form">
        <div class="form-group">
          <label for="form_modif_metric_quantity">Quantity of water (in glasses)</label>
          <input id="form_modif_metric_quantity" min="0" size="2" type="number" value="<%= modify.value %>"
            name="modif_quantity" placeholder="<%= modify.value %>" />
        </div>
        <div class="form-group">
          <label for="form_modif_metric_date">Date</label>
          <input id="form_modif_metric_date" type="text" value="<%= modify.date %>" name="modif_date"
            placeholder="<%= modify.date %>" />
        </div>
        <button class="btn btn-warning" type="submit" value="Add">Modify the metric</button>
      </div>
    </form>
    <% } %>

    <br>

    <div id="metrics">
      <% if(metrics){ %>
      <hr />
      <br>
      <h4 style='color:rgb(206, 163, 44);'>Here are the metrics of <%= name %></h4>
      <div>
        <canvas id="myChart"></canvas>
      </div>
      <ul>
        <% graphValue = [];%> 
        <% graphLabel = [];%>
        <% metrics.forEach(function(metrics){ %>
        <% graphValue.push(metrics.value); %>
        <% graphLabel.push(metrics.date); %>

        <li style='color:#160e069f;'> Date : <%= metrics.date %> (YYYY-MM-DD) &nbsp; Quantity : <%= metrics.value %>
          <button class="btn btn-danger btn-sm" href="/metric/delete/<%= metrics.date %>"
            onClick='document.location.href="/metric/delete/<%= metrics.date %>"'>X</button>
          <button class="btn btn-warning btn-sm" href="/metric/modify/<%= metrics.date %>"
            onClick='document.location.href="/metric/modify/<%= metrics.date %>"'>Modify</button>
        </li>
        <% });%>
      </ul>
      <script>
          var value = JSON.parse("[" + "<%= graphValue %>" + "]"); 
          var label = "<%= graphLabel %>"; 
          var labels = label.split(",");

//source: https://www.chartjs.org/docs/latest/

          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: labels,
                  datasets: [{
                      label: 'Quantity of water drunk',
                      data: value,
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  },
              }
          });

          var donut = document.getElementById('myChart').getContext('2d');

          </script>
      <% } %>
    </div>
  </div>
  <!-- <script>
    $('#show-metrics').click((e) => {
      e.preventDefault();
      $.getJSON("/metrics/<%= name %>", {}, (data) => {
        const content = data.map(d => {
          return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
        })
        $('#metrics').append(content.join("\n"));
      });
    })
  </script> -->
  <hr />
  <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
    Logout
  </button>
  <button class="btn btn-dark" href="/user/delete" onClick='document.location.href="/user/delete"'>
    Destroy this account
  </button>
</body>
<br><br>
<footer>
  <div class="card-footer text-muted">
    Developped by Louis Cauquelin & Eloi Alardet &copy;All rights reserved
  </div>
</footer>

</html>